<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Cadastro de Filmes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .logrocket {
            background-color: #764abc;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>Lista de Filmes Cadastrados</h2>
        </div>

        <table class="table" id="paciente_table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Diretor</th>
                    <th>Data de estreia</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ nome }}</td>
                    <td>{{ diretor }}</td>
                    <td>{{ dataDeEstreia }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-sm edit logrocket" data-id="{{ id }}"
                            data-nome="{{ nome }}" data-diretor="{{ diretor }}" data-dataDeEstreia="{{ dataDeEstreia }}">Editar</a>
                        <a href="javascript:void(0);"  class="btn btn-sm btn-danger remove" data-id="{{ id }}">Excluir</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">Não foi possivel carregar dados</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <button class="btn btn-success float-right" data-toggle="modal" data-target="#novoFilmeModal">Adicionar</button>
    </div>

    <form action="/save" method="post">
        <div class="modal fade" id="novoFilmeModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Adicionar Filme</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="nome" class="form-control" placeholder="Nome do Filme"
                                required="required">
                        </div>

                        <div class="form-group">
                            <input type="text" name="diretor" class="form-control" placeholder="Diretor" required="required">
                        </div>

                        <div class="form-group">
                            <input type="date" name="dataDeEstreia" class="form-control" placeholder="Data de estreia"
                                required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn logrocket">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action="/update" method="post">
        <div class="modal fade" id="editFilmeModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar filmes</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="nome" class="form-control nome" placeholder="Nome do filme"
                                required="required">
                        </div>
                        {{!-- troca classe --}}
                        <div class="form-group">
                            <input type="text" name="diretor" class="form-control diretor" placeholder="Diretor"
                                required="required">
                        </div>
                        {{!-- troca classe --}}
                        <div class="form-group">
                            <input type="date" name="dataDeEstreia" class="form-control dataDeEstreia" placeholder="Data de estreia"
                                required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="paciente_id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn logrocket">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="add-row-form" action="/remove" method="post">
        <div class="modal fade" id="removeFilmeModal" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>Excluir filme</h4>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza?
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="paciente_id" class="form-control paciente_id_removal"
                            required="required">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn logrocket">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
  <script>
        $(document).ready(function () {
            $('#Filme_table').on('click', '.edit', function () {
                $('#editFilmeModal').modal('show');
                $('.Filme_id').val($(this).data('id'));
                $('.nome').val($(this).data('nome'));
                $('.diretor').val($(this).data('diretor'));
                $('.dataDeEstreia').val($(this).data('dataDeEstreia'));
            }).on('click', '.remove', function () {
                $('#removeFilmeModal').modal('show');
                $('.Filme_id_removal').val($(this).data('id'));
            });
        });
    </script>
</body>

</html>